<html>

<head>
    <meta charset="UTF-8" />
    <title>Kaffeeshare</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/combo.css">
    <link href='//fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.3/moment-with-locales.min.js"></script>
    <script src="/static/js/kshare.js"></script>

    <script>
        function parseURLParam(val) {
            var result = "Invalid URL",
                tmp = [];
            location.search
                .substr(1)
                .split("&")
                .forEach(function(item) {
                    tmp = item.split("=");
                    if (tmp[0] === val) result = decodeURIComponent(tmp[1]);
                });
            return result;
        }

        /*String.prototype.trunc = String.prototype.trunc ||
            function(n) {
                return (this.length > n) ? this.substr(0, n - 1) + '&hellip;' : this;
            };*/

        function create() {
            var url = parseURLParam("url");
            url = url.replace(/.*?:\/\//g, "");
            //$('#button').html("Share <em>" + url.trunc(50) + "</em>");-->
            $('#button').html("Share <br/><em>" + url + "</em><br/>?");
        }

        function share() {
            // example pathname /k/share/firefox/test/?url=abc.com
            namespace = window.location.pathname.replace("/k/share/firefox/", '');
            if (namespace.slice(-1) == "/") namespace = namespace.substring(0, namespace.length - 1);
            url = "/k/share/json/" + namespace + "/?url=";
            url += parseURLParam("url");
            console.log(url);

            $('#button').html("Sharing...");

            $.ajax({
                type: "POST",
                url: url,
                dataType: 'json',
            }).done(function(msg) {
                if (msg.status == "ok") {
                    $('#button').html("Shared!");
                    $('#button').prop('disabled', true);
                } else {
                    $('#button').html("Sharing failed! Try again?");
                }
            }).fail(function() {
                $('#button').html("Sharing failed! Try again?");
            }).always(function(msg) {});
        }

    </script>
</head>

<body onload="create()">
    <div id="main" class="container center" style="width: 100%;">

        <div id="intro" class="section p-intro" style="padding: 0px; min-height: 120px;">
        </div>
        <div id="why" class="section p-why" style="height: 50px">

            <div class="subtlecircle sectiondivider faicon">
                <span class="fa-stack">
        			<i class="fa fa-circle fa-stack-2x"></i>
    				<i class="fa fa-share-alt fa-stack-1x"></i>
        		</span>
                <h5 class="icon-title">Kaffeeshare</h5>
            </div>
            <br/>
            <br/>

            <button id="button" onclick="share()" class="btn btn-default" type="button" style="white-space: normal; width: 400px;" />
        </div>
    </div>
</body>

</html>
