<?xml version="1.0" encoding="UTF-8" standalone="no"?><web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">
  <servlet>
    <servlet-name>de.kaffeeshare.server.output.Feed</servlet-name>
    <servlet-class>de.kaffeeshare.server.output.Feed</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>de.kaffeeshare.server.output.Feed</servlet-name>
    <url-pattern>/feed</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>de.kaffeeshare.server.input.OneClickShare</servlet-name>
    <servlet-class>de.kaffeeshare.server.input.OneClickShare</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>de.kaffeeshare.server.input.OneClickShare</servlet-name>
    <url-pattern>/oneclickshare</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>de.kaffeeshare.server.NamespaceCheck</servlet-name>
    <servlet-class>de.kaffeeshare.server.NamespaceCheck</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>de.kaffeeshare.server.NamespaceCheck</servlet-name>
    <url-pattern>/namespacecheck</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>de.kaffeeshare.server.cron.GarbageCollection</servlet-name>
    <servlet-class>de.kaffeeshare.server.cron.GarbageCollection</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>de.kaffeeshare.server.cron.GarbageCollection</servlet-name>
    <url-pattern>/cron/garbagecollection</url-pattern>
  </servlet-mapping>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>kaffeeshare-user</web-resource-name>
      <url-pattern>/user/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>*</role-name>
    </auth-constraint>
  </security-constraint>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>kaffeeshare-admin</web-resource-name>
      <url-pattern>/admin/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>admin</role-name>
    </auth-constraint>
  </security-constraint>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>kaffeeshare-cron</web-resource-name>
      <url-pattern>/cron/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>admin</role-name>
    </auth-constraint>
  </security-constraint>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>kaffeeshare-queue</web-resource-name>
      <url-pattern>/queue/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>admin</role-name>
    </auth-constraint>
  </security-constraint>
  <servlet>
    <servlet-name>_ah_warmup</servlet-name>
    <servlet-class>de.kaffeeshare.server.Warmup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>_ah_warmup</servlet-name>
    <url-pattern>/admin/warmup</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>de.kaffeeshare.server.input.Mail</servlet-name>
    <servlet-class>de.kaffeeshare.server.input.Mail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>de.kaffeeshare.server.input.Mail</servlet-name>
    <url-pattern>/_ah/mail/*</url-pattern>
  </servlet-mapping>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>kaffeeshare-mail</web-resource-name>
      <url-pattern>/_ah/mail/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>admin</role-name>
    </auth-constraint>
  </security-constraint>
  <servlet>
    <servlet-name>de.kaffeeshare.server.input.Jabber</servlet-name>
    <servlet-class>de.kaffeeshare.server.input.Jabber</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>de.kaffeeshare.server.input.Jabber</servlet-name>
    <url-pattern>/_ah/xmpp/message/chat/</url-pattern>
  </servlet-mapping>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>kaffeeshare-jabber</web-resource-name>
      <url-pattern>/_ah/xmpp/message/chat/</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>admin</role-name>
    </auth-constraint>
  </security-constraint>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
 <servlet>
  <servlet-name>SystemServiceServlet</servlet-name>
  <servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
  <init-param>
   <param-name>services</param-name>
   <param-value/>
  </init-param>
 </servlet>
 <servlet-mapping>
  <servlet-name>SystemServiceServlet</servlet-name>
  <url-pattern>/_ah/spi/*</url-pattern>
 </servlet-mapping>
</web-app>