{{define "content"}}
<nav><ul>
	<li class="p-intro"><a href="/">notRedd.it</a></li>
	<li class="p-why"><a id="rss-link" href="">RSS</a></li>
	<li class="p-details"><a href='mailto:{{.Namespace}}@kaffeeshare.appspotmail.com'>email</a></li>
</ul></nav>

<script>
  $( document ).ready(function() {
	  var a = document.getElementById('rss-link'); //or grab it by tagname etc
	  a.href = getNamespaceRSS("{{.Namespace}}");
  });
</script>


<div id="intro" class="section p-intro" style="padding:150px 0px 150px 0px;">
	<div class="container center">
		<h3 class="text-purple"><em>{{.Namespace}}</em></h3>
	</div>
</div>

<div id="why" class="section p-why">

	<div class="subtlecircle sectiondivider faicon">
		<span class="fa-stack">
			<i class="fa fa-circle fa-stack-2x"></i>
			<i class="fa fa-newspaper-o fa-stack-1x"></i>
		</span>
		<h5 class="icon-title">News</h5>
	</div>

	<div class="container" id="items"></div>
<div id="loading"></div>
</div>



<script type="text/javascript">

// get GET URL parameter
function getURLParameter(name) {
	return decodeURIComponent((new RegExp('[?|&]' + name + '=' + '([^&;]+?)(&|#|;|$)').exec(location.search)||[,""])[1].replace(/\+/g, '%20'))||null;
}

$('#loading').bind('inview', function (event, visible) {
	if (visible) {
		// start the spinner
		$('#loading').html("<i class='fa fa-refresh fa-spin'></i>");

		// start the request
		request = $.ajax({
			type: "POST",
			url: "/k/show/json/{{.Namespace}}",
			data: { cursor: db_cursor },
			dataType: 'json'
		}).done(function( msg ) {
			db_cursor = msg.Cursor;
			if (msg.Items) {
				$('#items').append(createItems(msg.Items));
			}
		}).fail(function(jqXHR, textStatus) {
			// also called if request is aborted
		}).always(function( msg ) {
			$('#loading').html("");
		});

	} else {
		// hidden
	}
});

function createItems(items) {
	returnee = "<ul class='media-list'>";

	for (i = 0; i<items.length; ++i) {
		returnee += "<li class='media' style='margin-bottom:55px;'>";
		returnee += "<div class='media-body'>";

		returnee += "<h4>" + items[i].caption + "</h4>";

		returnee += "<p><small><em>" + moment(items[i].createdat).format("LLLL") + "</em></small></p>";

		if (items[i].imageURL) {
			returnee += "<a class='pull-right' href='" + items[i].url + "' style='padding-left: 15px;'>";
			returnee += "<img class='media-object, thumbnail' width='200' src='" + items[i].imageURL + "' alt=''>";
			returnee += "</a>";
		}

		returnee += "<blockquote>" + items[i].description + "</blockquote>";
		returnee += "<p><cite><a href='" + items[i].url + "'>&raquo; " + items[i].url + "</a></cite></p>";

		returnee += "</div>"
		returnee += "</li>";
	}

	returnee += "</ul>";

	return returnee;
}

$(window).scroll();

</script>
{{end}}
